body,
html {
    min-height: 100vh;
    @include reset();
}

body {
    @include flex-between();
    @include flex-column();

    max-width: $body-width;

    background-color: map-get($colors, default-background);
    color: map-get($colors, default);
    margin: auto;

    main {
        flex-grow: 1;
    }

    a {
        @include reset-link();
    }
}
