// ==============================
// | Breakpoints for responsive |
// ==============================
$breakpoints: (
    sm: 640px,
    md: 960px,
    lg: 1200px,
    xl: 1600px,
);

// =========
// | Utils |
// =========

$spacer: 1rem;
$shadow-size: 1rem;

$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5,
    7: $spacer * 6,
);

$font-size-base: 1rem;

$font-sizes: (
    1: $font-size-base * 3,
    2: $font-size-base * 2.5,
    3: $font-size-base * 2,
    4: $font-size-base * 1.5,
);

$border-radius: (
    default: 0.25rem,
    sm: 0.2rem,
    lg: 0.3rem,
);

$shadow: (
    size: (
        x: 5px,
        y: 5px,
    ),
    blur: 5px,
    color: rgba(black, 0.2),
);

// ===============
// | Transitions |
// ===============
$transitions: (
    default: 0.5s,
    fast: 0.25s,
    slow: 0.75s,
);

// ==========
// | Colors |
// ==========
$colors: (
    primary: #1473f0,
    secondary: #517285,
    background: #e0fbfc,
    warning: #ee6c4d,
    default: #293241,
    shadow: rgba(#293241, 0.2),
);

$colors-types: (
    default: (
        background: map-get($colors, background),
        color: map-get($colors, default),
    ),
    primary: (
        background: lighten(mix(map-get($colors, primary), white), 20),
        color: #050607,
    ),
    secondary: (
        background: lighten(mix(map-get($colors, secondary), white), 20),
        color: map-get($colors, secondary),
    ),
    warning: (
        background: lighten(map-get($colors, warning), 45),
        color: map-get($colors, warning),
    ),
);

// ==============
// | Components |
// ==============

// Buttons
$btn: (
    types: (
        default: (
            background: map-get($colors-types, default, background),
            color: map-get($colors-types, default, color),
            border: darken(map-get($colors-types, default, background), 30),
        ),
        primary: (
            background: map-get($colors-types, primary, background),
            color: map-get($colors-types, primary, color),
            border: darken(map-get($colors-types, primary, color), 10),
        ),
        secondary: (
            background: map-get($colors-types, secondary, background),
            color: map-get($colors, secondary),
            border: darken(map-get($colors, secondary), 10),
        ),
    ),
    paddings: (
        default: (
            x: 0.75rem,
            y: 0.75rem,
        ),
        sm: (
            x: 0.25rem,
            y: 0.25rem,
        ),
        lg: (
            x: 1.25rem,
            y: 1.25rem,
        ),
    ),
    radius: 0.25rem,
    border-size: 1px,
);

// ===========
// | Layouts |
// ===========

// Navbar
$navbar-size: 20px;
$navbar-background: map-get($colors-types, secondary, background);

// Footer
$footer: (
    background: map-get($colors-types, secondary, background),
    size: 20px,
    shadow: (
        size: (
            x: 5px,
            y: -5px,
        ),
    ),
);

// =========
// | Pages |
// =========
$cards-space: 50px;
