<footer class="footer">
    <div class="footer__column">
        <h2 class="footer__column__title">Nous contacter</h2>
        <div class="footer__column__content">
            <a href="https://github.com/mibde" class="footer__column__content__link--github"></a>
            <a href="https://instagram.com/mibde_/" class="footer__column__content__link--instagram"></a>
        </div>
    </div>
    <div class="footer__column">
        <h2 class="footer__column__title">À propos</h2>
        <div class="footer__column__content">
            <a href="https://github.com/Mibde/mibde.fr" target="_blank" rel="noopener noreferrer">Code
                source</a>
        </div>
    </div>
</footer>