.container {
    margin-right: 20px;
    margin-left: 20px;
    &--flex {
        display: flex;
        &--center {
            justify-content: center;
        }
        &--space-between {
            justify-content: space-between;
        }
        &--space-around {
            justify-content: space-around;
        }
    }

    &--grid {
        display: grid;
    }
}
