.navbar {
    @include navbar-shadow;
    background-color: map-get($map: $colors, $key: "secondary");
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile-only {
        justify-content: right;
    }

    > * {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    &__item {
        @include mobile-only {
            display: none;
        }
        @include navbar-links;
        &--active {
            @include navbar-link-active;
        }
        // &__logo {
        //     @include navbar-logo;
        // }
    }

    &__burger {
        @include navbar-burger;
    }
}
