@use "sass:meta";

@mixin primary-color {
    color: map-get($map: $colors, $key: primary);
}

@mixin default-color {
    color: map-get($map: $colors, $key: default);
}

@mixin shadow($size: map-get($shadow, size), $blur: map-get($shadow, blur), $color: map-get($shadow, color)) {
    @if type-of($size) == map {
        box-shadow: map-get($size, x) map-get($size, y) $blur $color;
    } @else {
        box-shadow: $size $blur $color;
    }
}

@mixin border-radius($size: map-get($map: $border-radius, $key: default)) {
    @if type-of($size) == map {
        border-radius: map-get($size, top-left)
            map-get($size, top-right)
            map-get($size, bottom-left)
            map-get($size, bottom-right);
    } @else {
        border-radius: $size;
    }
}

@mixin padding-horizontal($size: map-get($spacers, 1)) {
    padding-right: $size;
    padding-left: $size;
}

@mixin padding-vertical($size: map-get($spacers, 1)) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin padding($size: map-get($spacers, 1), $size-x: false, $size-y: false) {
    @if $size-x and $size-y {
        @include padding-vertical($size-x);
        @include padding-horizontal($size-y);
    } @else if type-of($size) == map {
        @include padding-vertical(map-get($size, x));
        @include padding-horizontal(map-get($size, y));
    } @else {
        padding: $size;
    }
}

@mixin margin-vertical($size: map-get($spacers, 1)) {
    margin-left: $size;
    margin-right: $size;
}

@mixin margin-horizontal($size: map-get($spacers, 1)) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin flex() {
    display: flex;
}

@mixin flex-around() {
    @include flex();
    justify-content: space-around;
}

@mixin flex-between() {
    @include flex();
    justify-content: space-between;
}

@mixin flex-center() {
    @include flex();
    justify-content: center;
    align-items: center;
}

@mixin text-center {
    text-align: center;
}

@mixin border-size($size, $sides: $sides) {
    @each $side in $sides {
        border-#{$side}: $size;
    }
}
