@mixin primary-color {
    color: map-get($map: $colors, $key: primary);
}

@mixin default-color {
    color: map-get($map: $colors, $key: default);
}

@mixin shadow($size: $shadow-size, $color: map-get($colors, shadow)) {
    box-shadow: 5px $size $size $color;
}

@mixin border-radius($size: map-get($map: $border-radius, $key: default)) {
    border-radius: $size;
}

@mixin padding-horizontal($size: map-get($spacers, 1)) {
    padding-right: $size;
    padding-left: $size;
}

@mixin padding-vertical($size: map-get($spacers, 1)) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin margin-vertical($size: map-get($spacers, 1)) {
    margin-left: $size;
    margin-right: $size;
}

@mixin margin-horizontal($size: map-get($spacers, 1)) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin flex() {
    display: flex;
}

@mixin flex-around() {
    @include flex();
    justify-content: space-around;
}

@mixin flex-between() {
    @include flex();
    justify-content: space-between;
}

@mixin flex-center() {
    @include flex();
    justify-content: center;
    align-items: center;
}
