.cards {
    .card {
        height: 50%;
        width: 30%;
        @include margin-vertical($cards-space);

        @include mobile-only {
            @include margin-vertical(0);
            @include margin-horizontal($cards-space);
        }
    }
}

.event {
    &__filter {
        justify-content: space-evenly;
        display: flex;
        * {
            width: 20%;
        }
    }
}
