.cards {
    .card {
        height: 70%;
        width: 40%;
        @include margin-vertical($cards-space);

        @include mobile-only {
            @include margin-vertical(0);
            @include margin-horizontal($cards-space);
            width: 90%;
        }
    }
}

.event {
    &__filter {
        justify-content: space-evenly;
        display: flex;
        * {
            width: 20%;
        }

        @include mobile-only {
            flex-direction: column;
            align-items: center;
            * {
                width: 40%;
            }
        }
    }
}
